@model Category

<div class="d-flex justify-content-center">
    <h1 class="text-success">Category Details</h1>
</div>

<br />
<hr />
<br />

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(c => c.CategoryName): @Model.CategoryName</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(c => c.CategoryId): @Model.CategoryId</h6>
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(c => c.Description): @Model.Description</h6>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary mt-3">Back</a>
    </div>
</divp
