@model IEnumerable<Product>

<div class="d-flex justify-content-center">
    <h1 class="text-primary">Products Portal</h1>
</div>

<br />
<hr />
<br />

<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(p => p.ProductId)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Title)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Price)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Description)</th>
            <th scope="col">@Html.DisplayNameFor(p => p.Quantity)</th>
            @* <th scope="col">@Html.DisplayNameFor(p => p.ImagePath)</th> *@
            <th scope="col">@Html.DisplayNameFor(p => p.Category)</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="col">@item.ProductId</td>
                <td scope="col">@item.Title</td>
                <td scope="col">@item.Price</td>
                <td scope="col">@item.Description</td>
                <td scope="col">@item.Quantity</td>
                @* <td scope="col">@item.ImagePath</td> *@
                <td scope="col">@item.Category.CategoryName</td>
                <td scope="col">
                    <a asp-controller="Product" asp-action="Details" asp-route-Id="@item.ProductId" class="btn btn-primary">View</a>
                </td>
                <td scope="col">
                    <a asp-controller="Product" asp-action="Edit" asp-route-Id="@item.ProductId" class="btn btn-secondary">Edit</a>
                </td scope="col">
                <td scope="col">
                    <a asp-controller="Product" asp-action="Delete" asp-route-Id="@item.ProductId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add Product</a>
    </tfoot>
</table>